@import "~font-awesome/css/font-awesome.css";
@import "~semantic-ui-css/semantic.min.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}
